<footer>
    <div class="containerFooter">
        <h1>Colaboradores</h1>
        <div class="row icons">
            <div class="row cajaIcon col-4">
                <a href="https://www.youtube.com/user/wwwCOASTERFORCEcom" class="link">
                    <img class="icon" src="../../../assets/img/icons/ytIcon.png">
                </a>
            </div>
            <div class="row cajaIcon col-4">
                <a href="https://twitter.com/TheCoasterZone" class="link">
                    <img class="icon" src="../../../assets/img/icons/twitterIcon.png">
                </a>
            </div>
            <div class="row cajaIcon col-4">
                <a href="https://www.instagram.com/videoreviewparks/?hl=es" class="link">
                    <img class="icon" src="../../../assets/img/icons/instaIcon.png">
                </a>
            </div>
        </div>
        <div>
            <p class="text">DSB_Forum ©, con la colaboración de CoasterForce, VideoreviewParks, PACommunity, CoasterConcept y TheCoasterZone</p>
        </div>
    </div>
</footer>
